@using static HalloDoc.Entity.Models.Constant;
@using HalloDoc.Entity.Models.ViewModel;
@model PaginatedViewModel<AdminList>;

<div class="table-responsive dNone ">
    <table class="table table-responsive p-3">
        <thead class="bg-light">
            <tr>
                <th scope="col"><a >Name</a> </th>
                <th></th>
                <th scope="col">Date Of Birth</th>
                <th scope="col">Requester</th>
                <th scope="col">Requested date</th>
                <th scope="col">Phone</th>
                <th scope="col">Address</th>
                <th scope="col">Note</th>
                <th scope="col">Chat with</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody class="table-group-divider mx-5">
            @foreach (var item in Model.AdminList)
            {
                <tr class="@Enum.GetName(typeof(RequestTypes),item.RequestTypeId) text-white border-bottom border-white">
                    <td><small>@item.PatientName</small></td>
                    <td>
                        <button class="btn border-white text-white">
                            <i class="fa-regular fa-envelope"></i>
                        </button>
                    </td>
                    <td>
                        <small>@item.DOB.ToString("MMM d , yyyy")</small>
                    </td>
                    <td><small>@item.Requestor</small></td>
                    <td><small>@item.RequestedDate.ToString("MMM d , yyyy")</small></td>
                    <td>
                        <button class="btn border border-white text-white mt-2">
                            <i class="fa-solid fa-phone pe-2"></i>
                            <small>@item.PatientPhoneNumber</small>
                        </button>
                        <div>
                            <small>(Patient)</small>
                        </div>

                        @if (item.RequestTypeId != 2)
                        {
                            <button class="btn border border-white text-white mt-2">
                                <i class="fa-solid fa-phone pe-2"></i>
                                <small>@item.RequestorPhoneNumber</small>
                            </button>
                            <div>
                                <small>
                                    (@Enum.GetName(typeof(RequestTypes), item.RequestTypeId))
                                </small>
                            </div>
                        }
                    </td>
                    <td><small>@item.Address</small></td>
                    <td><small>@item.Notes</small></td>
                    <td>
                        @* <button class="btn border border-white text-white my-2">
                    <small>Patient</small>
                    </button>*@
                        <button class="btn border border-white text-white my-2">
                            <small>Provider</small>
                        </button>
                    </td>
                    <td>
                        <button class="btn border border-white text-white my-2" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <small>Actions</small>
                        </button>
                       
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" data-bs-toggle="modal" onclick="Assigncaseid(@item.RequestId)" data-bs-target=" #assigncase">
                                    <i class="bi bi-journals"></i> Assign Case
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" data-bs-toggle="modal" onclick="Canclecaseid('@item.RequestId','@item.PatientName')" data-bs-target=" #Cancelcase">
                                    <i class="bi bi-x-circle">
                                </i> Cancel Case</a>
                            </li>
                            <li><a class="dropdown-item" onclick="location.href='@Url.Action("viewCase", "Admin",new {RequestId=item.RequestId, RequestTypeId=item.RequestTypeId, status=1})'">
                                <i class="bi bi-journal-text"></i> View Case</a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-action="viewNotes" asp-controller="Admin" asp-route-RequestId="@item.RequestId">
                                <i class="fa fa-list"></i> View Notes</a>
                            </li>
                            <li>
                                <a class="dropdown-item" onclick="Blockcaseid('@item.RequestId','@item.PatientName')" data-bs-toggle="modal" data-bs-target="#Blockcase">
                                <i class="bi bi-ban"></i>Block Patient</a>
                            </li >

                        </ul>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="dBlock">
    @foreach (var item in Model.AdminList)
    {
        <div class="accordion-item mobile-table text-secondary">
            <h2 class="accordion-header" id="flush-heading-@item.RequestId">
                <div class="h5 p-2 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-@item.RequestId" aria-expanded="false" aria-controls="collapse_@item.RequestId">
                    <div class="row w-100">
                        <div class="col-6 mb-3 h4">
                            <small>@item.PatientName</small>
                        </div>
                        <div class="col-6 mb-3 text-end">
                            <small>@Enum.GetName(typeof(RequestTypes), item.RequestTypeId)</small>
                            <i class="fa-solid fa-circle fa-xs ms-2 txt-@Enum.GetName(typeof(RequestTypes),item.RequestTypeId)"></i>
                            <span class="rounded-circle @Enum.GetName(typeof(RequestTypes),item.RequestTypeId)"></span>
                        </div>
                        <div class="col-6 h6">
                            @item.Address
                        </div>
                        <div class="col-6  text-end">
                            <button class="btn btn-sm btn-white border-info text-info rounded-pill 2px">
                                <small>Map Location</small>
                            </button>
                           
                           
                        </div>
                    </div>
                </div>
            </h2>
            <div id="flush-@item.RequestId" class="accordion-collapse collapse mb-3 border-top" data-bs-parent="#accordionExample">
                <div class="accordion-body container-fluid">
                    
                    <a class=" btn bg-white border border-info rounded-pill position-relative top-0 end-0" onclick="location.href='@Url.Action("viewCase", "Admin",new {RequestId=item.RequestId, RequestTypeId=item.RequestTypeId})'">
                        <i class="bi bi-journal-text"></i> View Case
                        </a>
                   
                    <p> <i class="fa fa-calendar border border-info rounded-pill p-1 me-2" aria-hidden="true"></i>Date of Birth: @item.DOB</p>
                    <p> <i class="fa fa-envelope border border-info rounded-pill p-1 me-2"></i> Email : @item.Email</p>
                    <p> <i class="fa fa-phone border  border-info rounded-pill p-1 me-2"></i> Patient : @item.PatientPhoneNumber</p>
                    <p><i class="fa fa-user border border-info rounded-pill p-1 me-2"></i>Requestor : @item.Requestor</p>

                    <div class="row">
                        <div class="col-6 mb-3">
                            <button class="btn btn-warning text-white rounded-pill 2px w-100 " data-bs-toggle="modal" onclick="Assigncaseid(@item.RequestId)" data-bs-target=" #assigncase">
                                <small>Assign Case</small>
                            </button>
                        </div>
                        <div class="col-6 mb-3">
                            <button class="btn btn-danger text-white rounded-pill 2px w-100" data-bs-toggle="modal" onclick="Canclecaseid('@item.RequestId','@item.PatientName')" data-bs-target=" #Cancelcase">
                                <small>Cancel case</small>
                            </button>
                        </div>

                        <div class="col-6 mb-3" >
                            <a class="btn btn-success text-white rounded-pill 2px w-100" asp-action="viewNotes" asp-controller="Admin" asp-route-RequestId="@item.RequestId">
                                <small>View Notes</small>
                            </a>
                        </div>
                        <div class="col-6 mb-3">
                            <button class="btn btn-danger text-white rounded-pill 2px w-100" onclick="Blockcaseid('@item.RequestId','@item.PatientName')" data-bs-toggle="modal" data-bs-target="#Blockcase">
                                <small>Block Patient</small>
                            </button>
                        </div>                       
                        <div class="col-6 mb-3 ">
                            <button class="btn btn-success text-white rounded-pill 2px w-100" >
                                <small>Email</small>
                            </button>
                        </div>
                    </div>
                    <div class="text-end d-md-flex justify-content-md-end">
                        <span>Chat With:</span>
                        <button class="btn btn-white border-info text-info me-md-2 mb-2" type="button">
                            <i class="fa-regular fa-user me-1"></i>
                            Patient
                        </button>
                        <button class="btn btn-white border-info text-info mb-2" type="button">
                            <i class="fa-solid fa-user-doctor me-1"></i>
                            Provider
                        </button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<nav aria-label="Page navigation example">
    <ul class="pagination pagination-container d-flex justify-content-center">
        @{
            int i;
            
            if (Model.CurrentPage > 1)
            {
                <li class="page-item"><a class="page-link" data-page="@(Model.CurrentPage -1 )">&lt;</a></li>
            }
            else 
            {
                <li class="page-item disabled"><a class="page-link">&lt;</a></li>
            }
            @for (i = 1; i <= Model.TotalPages; i++)
            {
                
                <li class="page-item"><a href="#" data-page="@i" class="@(i == Model.CurrentPage ? "active" : "") page-link">@i</a></li>
            }
            if (Model.CurrentPage < Model.TotalPages)
            {
                <li class="page-item"><a class="page-link" data-page="@(Model.CurrentPage + 1)">&gt;</a></li>
            }
            else
            {
                <li class="page-item disabled"><a class="page-link">&gt;</a></li>
            }
        }
    </ul>
</nav>
<script>
    function Assigncaseid(id) {
    var RequestId = id ;
        console.log(RequestId);
        document.getElementById('RequestID_ModelAssignCase').value = RequestId;    
    }
    function Canclecaseid(id, patientname) {
        var RequestId = id;
        var patientname = patientname;
        console.log(RequestId);
        console.log(patientname);
        document.getElementById('RequestID_ModelCancelCase').value = RequestId;
        document.getElementById('PatientName_ModelCancelCase').innerText = patientname;
    }
    function Blockcaseid(id, patientname) {
    var RequestId = id ;
    var patientname = patientname;
        console.log(RequestId);
        console.log(patientname);
        document.getElementById('RequestID_ModelBlockCase').value = RequestId;
        document.getElementById('PatientName_ModelBlockCase').innerText = patientname;  
    }
    $(".pagination-container a").on("click", function (e) {
        e.preventDefault();
        console.log("etfh");
        var page = $(this).data('page');
        
        var searchValue = document.getElementById('searchInput').value;
        $.ajax({
            url: "@Url.Action("GetPartialView", "Admin")",
            type: "GET",
            data: {
                page: page,
                searchValue: searchValue,
                btnName: "new", 
                statusid: 1
            },
            success: function (data) {
                $("#btnContent").html(data);
            },
            error: function (error) {
                console.error("Error:", error);
            }
        });
    });
</script>
@*<script>
    $(".sortcol").on("click", function (e) {
    
        var page = $(this).data('page');
        var searchValue = document.getElementById('searchInput').value;
        var sortOrder = 'desc';
        var columnName = 'Name';
        $.ajax({
            url: "@Url.Action("GetPartialView", "Admin")",
            type: "GET",
            data: {
                page: page,
                searchValue: searchValue,
               sortColumn= "Name",
                sortOrder= sortOrder,
                btnName: "new",
                statusid: 1
            },
            success: function (data) {
                $("#btnContent").html(data);
            },
            error: function (error) {
                console.error("Error:", error);
            }
        });
    });
</script>
*@