@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using static HalloDoc.Entity.Models.Constant;
@using HalloDoc.Entity.Models.ViewModel;
@model CountStatusWiseRequestModel
@{
    Layout = "_AdminDashboardLayout";
    ViewData["Title"] = "Dashboard";
}
<div>
    
    @Html.Partial("_CancleCase.cshtml")
    @Html.Partial("_TransferCase.cshtml")
    @Html.Partial("_BlockCase.cshtml")
    @Html.Partial("_AssignCase.cshtml")
    
</div>
<div class="row mb-5 px-3">
    <button class="col-lg col-3 btn btn-p m-2 py-3 rounded text-start btn6 as" data-btn="new" data-id="1">
        <i class="fa fa-solid fa-circle-plus me-2" aria-hidden="true"></i><b>New</b>
        <p class="h4">@Model.NewRequest</p>
    </button>
    <button class="col-lg col-3 btn btn-i m-2 py-3 rounded text-start btn6" data-btn="pending" data-id="2">
        <i class="fa fa-user-md me-2" aria-hidden="true"></i><b>Pending</b>
        <p class="h4">@Model.PendingRequest</p>
    </button>
    <button class=" col-lg col-3 btn btn-outline-success m-2 py-3  rounded text-start btn6" data-btn="active" data-id="3">
        <i class="fa fa-check-square-o me-2" aria-hidden="true"></i><b>Active</b>
        <p class="h4">@Model.ActiveRequest</p>
    </button>
    <button class="col-lg col-3 btn btn-b  py-3 m-2 rounded text-start btn6" data-btn="conclude" data-id="4">
        <i class="fa-solid fa-clock-rotate-left me-2" aria-hidden="true"></i>
        <b>Conclude </b>
        <p class="h4">@Model.ConcludeRequest</p>
    </button>
    <button class="col-lg col-3 btn btn-c m-2 py-3  rounded text-start btn6" data-btn="toClose" data-id="5">
        <i class="fa-solid fa-user-xmark me-2" aria-hidden="true"></i><b>To close </b>
        <p class="h4">@Model.ToCloseRequest</p>
    </button>
    <button class=" col-lg col-3 btn btn-u m-2 py-3  rounded text-start btn6" data-btn="unpaid" data-id="6">
        <i class="fa-solid fa-circle-dollar-to-slot me-2" aria-hidden="true"></i><b>Unpaid </b>
        <p class="h4">@Model.UnpaidRequest</p>
    </button>
</div>

<div class=" d-flex justify-content-between m-2 searchBar">
    <h4><b>Patients </b></h4>
    <div>
        <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#sendLink">
            <i class="fa fa-send"></i>
            <span class="dNone">Send Link</span>
        </button>
        <a class="btn btn-info" asp-controller="Admin" asp-action="CreateRequest">
            <i class="fa fa-file-pen"></i>
            <span class="dNone">Create Request</span>
        </a>
        <button type="button" class="btn btn-info" onclick="Export(null)">
            <i class="fa-solid fa-share"></i>
            <span class="dNone"> Export</span>
        </button>
        <button type="button" class="btn btn-info" onclick="Export('1,2,3,4,5,6,7,8,9,10,11')">
            <i class="fa-solid fa-share-from-square"></i>
            <span class="dNone">Export All</span>
        </button>
        <a type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#RequestSupport">
            <i class="fa-solid fa-user-nurse"></i>
            <span class="dNone">Request DIY Support</span>
        </a>
    </div>
</div>
<div class="  align-items-center m-2 bg-white p-2">
    <div class="mt-2 mx-2 bg-white">
        <div class="searchBar px-2">
            <div class="searchPatientRegion">
                <div class="search m-1">
                    <i class="fa fa-search bg-white " id="searchButton"></i>
                    <input type="text" class="form-control" placeholder="Search Patients" id="searchInput">
                </div>
                <div class="search m-1">
                    <i class="fa fa-search"></i>
                    <select class="form-select mb-3" id="SelectedRegion" onchange="handleSearchClick()" name="Region" asp-items="@(new SelectList(ViewBag.AssignCase,"RegionId","Name"))">
                        <option value="">Search Region</option>
                    </select>
                </div>
                <div class="search m-1">
                    <span class="pagesize m-1">Page Size</span>
                    <select class="form-select pagesizeselect p-2 me-3" onchange="handleSearchClick()" name="PageSize" data-allow-clear="true" tabindex="-1" id="pagesizedropdown" data-control="select2" data-placeholder="Select Level">
                        <option value="5" selected>5</option>
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                    </select>
                </div>
                
            </div>
           

            <div class="text-secondary requestType">
                <button class="me-2 bg-white border-0 reqtype" data-id="-1">
                    <i class="fa fa-circle" aria-hidden="true"></i> All
                </button>
                <button class="me-2 bg-white border-0 reqtype" data-id="2">
                    <i class="fa fa-circle text-success" aria-hidden="true"></i> Patient
                </button>
                <button class="me-2 bg-white border-0 reqtype" data-id="3">
                    <i class="fa fa-circle text-warning" aria-hidden="true"></i> Family/Friend
                </button>
                <button class="me-2 bg-white border-0 reqtype" data-id="1">
                    <i class="fa fa-circle text-primary" aria-hidden="true"></i> Business
                </button>
                <button class="me-2 bg-white border-0 reqtype" data-id="4">
                    <i class="fa fa-circle text-danger" aria-hidden="true"></i> Concierge
                </button>
            </div>
        </div>
    </div>
</div>
<div id="btnContent"></div>
@Html.Partial("_RequestSupport.cshtml")
@Html.Partial("_sendLink.cshtml")

<script>
    $(document).ready(function () {
        $(".row > .btn").click(function () {
            $(".row > .btn").removeClass("as");
            $(this).addClass("as");
        });
    });
</script>
<script>   
    var statusidglobal=1;
    var btnnameglobal="new";
    var pageglobal = 1;
    var sortOrderglobal = false;
    var sortColumnglobal = "RequestedDate";
    $(document).ready(function () {
        console.log("Document ready");
        var defaultPartial = '/Admin/_new';
        var searchValue = document.getElementById('searchInput').value;
        var region = -1;
        var requesttype = -1;
        console.log(statusidglobal +  btnnameglobal);
        
        $.ajax({
            url: defaultPartial,
            method: 'GET',
            success: function (data) {
                $("#btnContent").html(data);
                $(document).on("click", ".btn6", function () {
                    var btnName = $(this).data("btn");
                    btnnameglobal = btnName;                
                    var statusid = $(this).data("id");
                    statusidglobal = statusid;
                    console.log("Button clicked: " + btnName);
                    var statusid = $(this).data("id");
                    var page = $(this).data('page');
                    $.ajax({
                        url: '@Url.Action("GetPartialView", "Admin")',
                        method: 'GET',
                        data: { searchValue: searchValue, btnName: btnName, statusid: statusid, Region: region, requesttype: requesttype },
                        success: function (data) {
                            $("#btnContent").html(data);
                            console.log("data added");
                        },
                        error: function () {
                            console.error('Error fetching partial view.');
                        }
                    });
                });
            },
            error: function () {
                console.error('Error fetching default partial view.');
            }
        });
    });

    document.getElementById('searchButton').addEventListener('click', handleSearchClick);
    var reqtypeElements = document.getElementsByClassName('reqtype');
    for (var i = 0; i < reqtypeElements.length; i++) {
        reqtypeElements[i].addEventListener('click', handleSearchClick);
    }
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('searchInput').addEventListener('keyup', function (evt) {
            if (evt.key === 'Enter') {
                evt.preventDefault();
                handleSearchClick();
            }
        });
    });
    function handleSearchClick() {
        var searchValue = document.getElementById('searchInput').value;
        var region = $("#SelectedRegion").val();
        var pagesize = $('#pagesizedropdown').val();
        var requesttype = $(this).data("id");
        console.log("Button: " + statusidglobal +" " + btnnameglobal);
        console.log("Search value: " + searchValue);
        console.log("Region id: " + region);
        console.log("Request type id: " +requesttype);
        console.log(pagesize)
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetPartialView", "Admin")',
            data: { searchValue: searchValue, statusid: statusidglobal, btnName: btnnameglobal, Region: region, requesttype: requesttype, pagesize: pagesize },
            success: function (data) {
                console.log("AJAX success");               
                $("#btnContent").html(data);                
            },
            error: function (error) {
                console.log("Error:", error);
            }
        });
    }
    function Export(status) {
        console.log(status);
        console.log(statusidglobal);
        if(status == null)
        {
            status= statusidglobal;
        }
        console.log(status);
        $.ajax({
            method: "POST",
            url: "/Admin/Export",
            data: { status: status },
            xhrFields: {
                responseType: 'blob'
            },
            success: function (result) {
                var blob = new Blob([result], { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' });
                var link = document.createElement('a');
                link.href = window.URL.createObjectURL(blob);
                link.download = 'RequestData.xlsx';
                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);
                window.URL.revokeObjectURL(link.href);
            },
            error: function () {
                console.log("error");
            }
        });
    }
</script>
<script>
    //swal for clear case
    function ClearSwal(RequestId) {
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: "btn btn-info m-2 shadow-none text-white px-3",
                denyButton: "btn btn-outline-info m-2"
            },
            buttonsStyling: false
        });
        swalWithBootstrapButtons.fire({      
            icon: "warning",
            title: "Confirmation for clear case",
            text: "Are you sure you want to clear this request? Once clear this request then you are not able to see this request.",
            showDenyButton: true,
            showCancelButton: false,
            confirmButtonText: "Clear",
            denyButtonText: "Cancel",
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("ClearCase", "Admin")?RequestId=' + RequestId,
                    cache: false,
                    success: function (response) {
                        console.log(response);
                        location.reload();
                    },
                    error: function () {
                        alert("Error");
                    }
                });                
            }
            else if (result.isDenied) {
                Swal.fire("Denied", "", "");
            }
        });
    }
</script>
