@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using static HalloDoc.Entity.Models.Constant;
@using HalloDoc.Entity.Models.ViewModel;
@model CountStatusWiseRequestModel
@{
    Layout = "_AdminDashboardLayout";
    ViewData["Title"] = "Dashboard";
}
<div>
    @Html.Partial("AssignCase.cshtml") 
</div>
<div class="row mb-5">
    <button class="col-lg col-3 btn btn-p m-2 py-3 rounded text-start btn6" data-btn="new" data-id="1">
        <i class="fa fa-solid fa-circle-plus me-2" aria-hidden="true"></i><b>New</b>
        <p class="h4">@Model.NewRequest</p>
    </button>
    <button class="col-lg col-3 btn btn-outline-info btn-i m-2 py-3 -5 rounded text-start btn6" data-btn="pending" data-id="2">
        <i class="fa fa-user-md me-2" aria-hidden="true"></i><b>Pending</b>
        <p class="h4">@Model.PendingRequest</p>
    </button>
    <button class=" col-lg col-3 btn btn-outline-success m-2 py-3  rounded text-start btn6" data-btn="active" data-id="3">
        <i class="fa fa-check-square-o me-2" aria-hidden="true"></i><b>Active</b>
        <p class="h4">@Model.ActiveRequest</p>
    </button>
    <button class="col-lg col-3 btn btn-b  py-3 m-2 rounded text-start btn6" data-btn="conclude" data-id="4">
        <i class="fa-solid fa-clock-rotate-left me-2" aria-hidden="true"></i>
        <b>Conclude </b>
        <p class="h4">@Model.ConcludeRequest</p>
    </button>
    <button class="col-lg col-3 btn btn-c m-2 py-3  rounded text-start btn6" data-btn="toClose" data-id="5">
        <i class="fa-solid fa-user-xmark me-2" aria-hidden="true"></i><b>To close </b>
        <p class="h4">@Model.ToCloseRequest</p>
    </button>
    <button class=" col-lg col-3 btn btn-u m-2 py-3  rounded text-start btn6" data-btn="unpaid" data-id="6">
        <i class="fa-solid fa-circle-dollar-to-slot me-2" aria-hidden="true"></i><b>Unpaid </b>
        <p class="h4">@Model.UnpaidRequest</p>
    </button>
</div>

<div class=" d-flex justify-content-between m-2 searchBar">
    <h4><b>Patients </b></h4>
    <div>
        <button type="button" class="btn btn-info">
            <i class="fa fa-send"></i>
            <span class="dNone">Send Link</span>
        </button>
        <button type="button" class="btn btn-info">
            <i class="fa fa-file-pen"></i>
            <span class="dNone">Create Request</span>
        </button>
        <button type="button" class="btn btn-info">
            <i class="fa-solid fa-share"></i>
            <span class="dNone"> Export</span>
        </button>
        <button type="button" class="btn btn-info">
            <i class="fa-solid fa-share-from-square"></i>
            <span class="dNone">Export All</span>
        </button>
        <button type="button" class="btn btn-info">
            <i class="fa-solid fa-user-nurse"></i>
            <span class="dNone">Request DIY Support</span>
        </button>
    </div>
</div>
<div class="  align-items-center m-2 bg-white p-2">
    <div class="mt-2 mx-2 bg-white">
        <div class="searchBar px-2">
            <div class="searchPatientRegion py-2">
                <div class="search m-1">
                    <i class="fa fa-search bg-white"></i>
                    <input type="text" class="form-control" placeholder="Search Patients">
                </div>
                <div class="search m-1">
                    <i class="fa fa-search"></i>
                    <select class="form-select shadow-none" id="floatingSelectGrid">
                        <option selected class="text-secondary">All Regions</option>
                        <option value="1">Maryland</option>
                        <option value="2">New York</option>
                        <option value="3">Virginia</option>
                    </select>
                </div>
            </div>

            <div class="text-secondary requestType">
                <div class="me-2">
                    <i class="fa fa-circle" aria-hidden="true"></i> All
                </div>
                <div class="me-2">
                    <i class="fa fa-circle text-success" aria-hidden="true"></i> Patient
                </div>
                <div class="me-2">
                    <i class="fa fa-circle text-warning" aria-hidden="true"></i> Family/Friend
                </div>
                <div class="me-2">
                    <i class="fa fa-circle text-primary" aria-hidden="true"></i> Business
                </div>
                <div class="me-2">
                    <i class="fa fa-circle text-danger" aria-hidden="true"></i> Concierge
                </div>
            </div>
        </div>
    </div>
</div>
<div id="btnContent">  </div>

<script>
    $(document).ready(function () {
        console.log("Document ready");

        // Set the default partial view to load
        var defaultPartial = '/Admin/_new';

        // Make an AJAX request to get the default partial view content and set up click event handling
        $.ajax({
            url: defaultPartial,
            method: 'GET',
            success: function (data) {
                // Replace the content of the btnContent div with the retrieved partial view
                $("#btnContent").html(data);

                // Handle click events on buttons
                $(document).on("click", ".btn6", function () {
                    var btnName = $(this).data("btn");
                    console.log("Button clicked: " + btnName);

                    var statusid = $(this).data("id");
                    // Make an AJAX request to get the partial view content
                    $.ajax({
                        url: '@Url.Action("GetPartialView", "Admin")',
                        //url: '/Admin/GetPartialView?btn=' + btnName,
                        method: 'GET',
                        data: { btnName: btnName, statusid: statusid },
                        success: function (data) {
                            console.log("AJAX success");
                            // Replace the content of the btnContent div with the retrieved partial view
                            $("#btnContent").html(data);
                            console.log("data added");
                        },
                        error: function () {
                            console.error('Error fetching partial view.');
                        }
                    });
                });
            },
            error: function () {
                console.error('Error fetching default partial view.');
            }
        });
    });
</script>

