@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using HalloDoc.Entity.Models.ViewModel;
@model viewDocument;
@{
    ViewData["Title"] = "Upload Document";
    Layout = "_AdminDashboardLayout";
}
@Html.Partial("_SendMailModal.cshtml")
<div class="container tabcontent defaulttab" id="Tab1">
    <div class="d-flex justify-content-between align-items-center py-4">
        <h4><b>Documents </b></h4>
        <div class=" btn d-flex  justify-content-end">
            <a class="btn btn-outline-info shadow-none backButton">
                 <i class="fa fa-angle-left pe-1 text-info"></i> Back
            </a>
        </div>
    </div>
    <div class="reqform p-3 text-secondary">
        <h5>Patient name</h5>
        <span class="d-flex align-items-center">

            <h4 class="Patient-name text-info"> @Model.FirstName @Model.LastName </h4>
            <span class="mx-2 ">(@Model.ConfirmationNumber)</span> 
        </span>
        <p>
            Check here to review and add files that you or the client has attached to the request.
        </p>

        <form method="post" enctype="multipart/form-data" >
            <div class="d-flex justify-content-between bg-light border border-secondary rounded">
                <button type="button" id="choosenfile" class="col btn text-start text-secondary" onclick="document.getElementById('files').click()">
                    Select File
                </button>
                <input id="files" type="file" class="d-none form-control doc_uploder" name="UploadFile">

                <button type="submit" class="btn btn-info text-white py-2" value="Upload">
                    <i class="fa fa-cloud-upload"></i>
                    <span class="dNone"> Upload </span>
                </button>
            </div>
        </form>


        <div class="container-fluid">
            <div class="m-4 d-flex justify-content-between align-items-center">
                <h5 class="text-black"><b>Documents </b> </h5>
                <div class="d-flex justify-content-end">
                    <a class="btn btn-outline-info dNone" onclick="DownloadAll()">Download all</a>
                    <a type="button" class="btn btn-outline-info dBlock" onclick="DownloadAll()"> + </a>
                    <button id="delete" class="btn btn-outline-info text-end mx-1" onclick="DeleteAll(@Model.RequestId)">Delete All</button>
                    <a class="btn btn-outline-info text-end mx-1" data-bs-toggle="modal" data-bs-target=" #mailmodal" SendMail>
                        <i class="fa-solid fa-mail"></i>  Send Mail
                    </a>
                </div>
            </div>
            <table class="table m-0">
                <thead>
                    <tr class="table-secondary">
                        <th scope="col" class="table-text-header px-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="selectall" onchange="selectDeselectAll()">
                            </div>
                        </th>
                        <th scope="col" class="table-text-header">Document Name</th>
                       
                        <th scope="col" class="table-text-header">Upload date</th>
                        <th scope="col" class="table-text-header">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item2 in Model.Files)
                    {
                        <tr>
                            <td class="table-text px-3">
                                <div class="form-check">
                                    <input class="form-check-input doc-checkbox" type="checkbox" name="checkedfile" onclick="SelectBox()" value="@item2.RequestWiseFileId">
                                </div>
                            </td>
                            <td class="table-text filename" id="">@item2.FileName</td>

                            <td class="table-text ">@item2.CreatedDate</td>
                            <td class="table-text">
                                <a class="btn btn-sm btn-outline-info mx-2 download-link document-button" download href="/Upload/@item2.FileName">
                                    <i class="fa fa-cloud-download"></i>
                                </a>
                                <a class="btn btn-sm  btn-outline-info" asp-action="DeleteFile" asp-controller="Admin" asp-route-id="@item2.RequestWiseFileId" asp-route-requestid="@item2.RequestId">
                                            <i class="fa fa-trash" aria-hidden="true">  </i>
                                 </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="mailmodal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title text-white bg-info" id="staticBackdropLabel"> Send Mail</h5>
                <button type="button" class="btn-close " data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-action="DocMail" asp-controller="Admin" id="SendMail">
                <input type="hidden" value="@Model.RequestId" name="Reqid" />
                <input type="hidden" id="mailids" name="mailids" />
                <div class="modal-body">
                    <div class="col my-3">
                        <div class="form-floating">
                            <input type="email" class="form-control" placeholder="abc@email.com" id="email"
                                   aria-describedby="emailHelp" name="Email">
                            <label for="email" class="form-label">E-mail</label>
                        </div>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="submit" class="btn btn-outline-info " id="sendmail">Send</button>
                <button type="button" class="btn btn-outline-info" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<script>
    $('#submit-btn').click(function () {

        var email = $("#email").val();
        var reqId = $("#RequestID_Model").val();

        $.ajax({
            url: "/Admin/DocMail",
            data: {
                Reqid: reqId,
                Email: email,
            },
            type: 'POST',
            success: function (result) {
                location.reload();
            },
            error: function (error) {
                console.log(error);
                alert('Error Fetching Request.')
            },
        });
    });
</script>

<script>
    $("#files").change(function () {
        filename = this.files[0].name;
        console.log(filename);
        $("#choosenfile").text(filename);
    });
    $(function () {
        $('.filename').each(function () {
            var fileName = $(this).text();
            if (fileName.endsWith('.pdf')) {
                $(this).prepend('<i class="fa-solid fa-file-pdf" style="color: #be2323;font-size:1rem"></i> ');
            } else if (fileName.endsWith('.doc') || fileName.endsWith('.txt')) {
                $(this).prepend('<i class="fa-solid fa-file" style="color: #74C0FC;font-size:1rem"></i> ');
            } else if (fileName.endsWith('.jpg') || fileName.endsWith('.jpeg') || fileName.endsWith('.png') || fileName.endsWith('.gif') || fileName.endsWith('.svg')) {
                $(this).prepend('<i class="fa-solid fa-images" style="color: #B197FC;font-size:1rem"></i> ');
            } else {
                $(this).prepend(' <i class="fa-solid fa-file" > </i>');
            }
        });
    });
    function selectDeselectAll() {
        var selectAllCheckbox = document.getElementById('selectall');
        var allCheckboxes = document.getElementsByClassName('doc-checkbox');
        for (var i = 0; i < allCheckboxes.length; i++) {
            allCheckboxes[i].checked = selectAllCheckbox.checked;
        }
    }
    function SelectBox() {
        var selectAllCheckbox = document.getElementById('selectall');
        var allCheckboxes = document.getElementsByClassName('doc-checkbox');
        var temp = false;
        var i = 0;
        for (i = 0; i < allCheckboxes.length; i++) {
            if (!allCheckboxes[i].checked) {
                temp = true;
                selectAllCheckbox.checked = false;
                break;
            }
        }
        if (i == allCheckboxes.length) {
            selectAllCheckbox.checked = true;
        }
    }
    function DownloadAll() {
        var allcheckbox = document.getElementsByClassName('doc-checkbox');
        var alllinks = document.getElementsByClassName('download-link');

        for (var i = 0; i < allcheckbox.length; i++) {
            if (allcheckbox[i].checked) {
                console.log(alllinks[i]);
                alllinks[i].click();
            }
        }
    }
    function DeleteAll(requestid) {
        console.log(requestid);
        var files = [];
        $('input[name="checkedfile"]:checked').each(function () {
            files.push(this.value);
        });
        console.log(files);
        if (files.length > 0) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("DeleteAllFile")",
                data: {
                    requestid: requestid,
                    files: files,
                },
                success: function (data) {
                    $('#DocumentTable').html(data);
                    location.reload();
                }
            });
        }
        else {
            alert('No files selected');
        }
    }
    $('#sendmail').click(function () {
        anyCheckboxSelected = false;
        $('tbody tr').each(function () {
            if ($(this).find('.form-check-input').prop('checked')) {
                anyCheckboxSelected = true;
                var downloadLink = $(this).find('.doc-checkbox').val();
                var deleteids = $('#mailids').val();
                console.log(deleteids);
                if (deleteids == '') {
                    $('#mailids').val(downloadLink);
                } else {
                    $('#mailids').val(deleteids + ',' + downloadLink);
                }
                console.log($('#mailids').val());
            }
        });
        if (anyCheckboxSelected) {
            Swal.fire({
                title: "Do you want to Send Mail of All file ?",
                showDenyButton: false,
                showCancelButton: true,
                confirmButtonText: "Yes",
                denyButtonText: `Don't save`
            }).then((result) => {
                if (result.isConfirmed) {
                    $('#SendMail').submit();
                }
                console.log(result);
            });
        }
        else {
            swal.fire({
                title: "Oops..",
                text: "Please Select One File ",
                icon: "error",
                showCancelButton: true,
                showConfirmButton: false,
                cancelButtonText: "Okay",
                cancelButtonColor: "#01BBE7",
            })
        }
    });

</script>
<script>
    document.addEventListener('click', function (event) {
        if (event.target.classList.contains('backButton')) {
            history.back();
        }
    });
</script>