@using Microsoft.AspNetCore.Http;

@{
    string path = Context.Request.Path;
   // int name = (string)_httpContextAccessor.HttpContext.Session.GetString("PatientName");
}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://common.olemiss.edu/_js/sweet-alert/sweet-alert.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <link href="~/css/patient.css" rel="stylesheet" />
 <link href="~/css/doc.css" rel="stylesheet" />

</head>
<body class="bg-light">
    <header class="bg-white head ">
        <div class="d-flex">
            <i class="fa fa-solid fa-bars text-info border rounded border-info d-block d-sm-none align-self-center m-3 p-2" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample"></i>

            <img src="~/Images/Fig56._Patient_site_1-removebg-preview.png"
                 class="mx-5 my-1" />
       
            <div class="position-absolute top-0 end-0 d-flex btn btn-sm align-items-center">
                <span class="dNone"> Welcome
                    <b>@Crredntials.UserName() </b>
                </span>
                <a class="h5 text-info border border-info rounded p-2 m-1 text-decoration-none dNone" onclick="Logout()">
                    Log Out
                </a>
                <a class=" text-info text-decoration-none dBlock" onclick="Logout()">
                    <i class="fa fa-sign-out fa-2x border border-info rounded p-2 m-1"></i>
                </a>       

                <i class="fa fa-moon-o fa-2x text-info border border-info rounded p-2 m-3"></i>

            </div>
        </div>   

  
        <nav class="navbar px-5 navbar-expand-sm bg-body shadow rounded border border-top  d-none d-sm-block">
            <div class="container-fluid">
                <!-- <a class="navbar-brand" href="#">Patient_</a> -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="d-flex">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link px-3 currentpage text-dark @(path.EndsWith ("/Dashboard") ? "activeNav" : "")"  asp-action="Index" asp-controller="Dashboard">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link px-3 text-dark @(path.EndsWith("/Dashboard/PatientProfile") ? "activeNav" : "")" asp-action="PatientProfile" asp-controller="Dashboard">Profile</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>        
    </header>
    <div class="offcanvas offcanvas-start w-50 dBlock" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header bg-info text-white">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">Welcome <strong>
               @* @sessionCV.UserName()*@
                </strong></h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item h6"><a asp-controller="Dashboard" asp-action="Index" class="text-decoration-none text-dark">Dashboard</a></li>
                <li class="list-group-item h6"><a asp-controller="Dashboard" asp-action="PatientProfile" class="text-decoration-none text-dark">Profile</a></li>
               
            </ul>
        </div>
    </div>
    <div class="container-fluid ">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="child fixed-bottom p-3 foot text-center">
      
    </footer>
    <script>
        function Logout() {
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: "btn btn-info m-2 shadow-none text-white px-3",
                    denyButton: "btn btn-outline-info m-2"
                },
                buttonsStyling: false
            });
            swalWithBootstrapButtons.fire({
                icon: "warning",
                title: "Logout",
                text: "Are you sure you want to Logout.",
                showDenyButton: true,
                showCancelButton: false,
                confirmButtonText: "Logout",
                denyButtonText: "Cancel",
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("Logout", "Login")',
                        cache: false,
                        success: function (response) {
                            window.location.href = "/Home/Login";
                        },
                        error: function () {

                        }
                    });
                }
            });
        }
        let metemp = false;
        let elsetemp = false;

        $('#me').on('click', function () {
            metemp = true;
            elsetemp = false;
        })
        $('#else').on('click', function () {
            elsetemp = true;
            metemp = false;
        })
        $('#cont').on('click', function () {
            if (metemp == true) {
                window.location.href = "/RequestByPatient/SubmitForMe";
            }
            else if (elsetemp == true) {
                window.location.href = "/RequestByPatient/SubmitForSomeone";
            }
        })
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> 
    <script src="~/js/patient.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
