@{
    Layout = "_AdminDashboardLayout";
    ViewData["Title"] = "Invoicing";
}
@using HalloDoc.Entity.Models.ViewModel;
@using static HalloDoc.Entity.Models.Constant;
@model TimesheetModel;
<div class="container">
    <div class="d-flex justify-content-between align-items-center container pb-1 mt-4">
        <div class="d-flex align-self-center">
            <h3>Timesheets</h3>
        </div>
        <div class=" btn d-flex justify-content-end">
            <a class="btn border border-info text-info shadow-none" asp-action="Index" asp-controller="Invoicing">
                <i class="fa fa-angle-left pe-1 text-info"> </i> Back
            </a>
        </div>
    </div>
    <form enctype="multipart/form-data  ">
        @{
            int totalHoursSum = 0;
            int totalWeekend = 0;
            int noOfHousecallSum = 0;
            int noOfPhoneConsultSum = 0;

        }
        <input type="hidden" asp-for="startDate" value="@Model.startDate" id="startdate" />
        <input type="hidden" asp-for="endDate" value="@Model.endDate" id="endDate" />
        <input type="hidden" asp-for="TimesheetId" value="@Model.TimesheetId" id="timesheetId" />
        <div class="bg-white reqform container p-3 ">
            <table class="table mt-3">
                <tr class="table-secondary">
                    <th>Date</th>
                    <th>On Call Hours</th>
                    <th>Total Hours</th>
                    <th>Weekend/Holidays</th>
                    <th>Number of Housecall</th>
                    <th>Number of Consult</th>
                    @if (Crredntials.Role() == "Admin")
                    {
                        <th>Total</th>
                    }
                </tr>
              
              
                @for (var i = Model.startDate; i <= Model.endDate; i = i.AddDays(1))
                {
                    var item = (Model.TimeSheetData != null) ? Model.TimeSheetData.FirstOrDefault(id => id.Date == i) : null;
                    if (item != null)
                    {
                        totalHoursSum += item.TotalHours ?? 0;
                        totalWeekend  += (item.IsWeekend == true ? 1 : 0);
                        noOfHousecallSum += item.NoofHousecall ?? 0;
                        noOfPhoneConsultSum += item.NoofPhoneConsult ?? 0;
                    }
                    <tr>
                        <td>@i.ToString("dd/MM/yyyy")</td>
                        <td class="text-center">0</td>
                        <td>
                            <input type="number" name="TotalHours" class="form-control" value="@(item != null && item.TotalHours !=null ? item.TotalHours : "")">
                        </td>
                        <td class="text-center">
                            <input class="form-check-input" type="checkbox" name="IsWeekend" @(item != null && item.IsWeekend == true ? "checked" : "")>
                        </td>
                        <td>
                            <input type="number" name="NoofHousecall" class="form-control" value="@(item != null && item.NoofHousecall!=null ? item.NoofHousecall : "")">
                        </td>
                        <td>
                            <input type="number" name="NoofPhoneConsult" class="form-control" value="@(item != null && item.NoofPhoneConsult!=null ? item.NoofPhoneConsult : "")">
                        </td>
                        @if (Crredntials.Role() == "Admin")
                        {
                            <td>  </td>
                        }
                    </tr>
                }
                @if (Crredntials.Role() == "Admin")
                {
                    var shiftTotal = Model.PhysicianPayrateData.Shift * totalHoursSum;
                    var nightShiftWeekendTotal = Model.PhysicianPayrateData.NightShiftWeekend * totalWeekend;
                    var houseCallsTotal = Model.PhysicianPayrateData.HouseCalls * noOfHousecallSum;
                    var phoneConsultsTotal = Model.PhysicianPayrateData.PhoneConsults * noOfPhoneConsultSum;
                    var grandTotal = shiftTotal + nightShiftWeekendTotal + houseCallsTotal + phoneConsultsTotal;
                    <tr>
                        <td> Payrate </td>
                        <td>  </td>
                        <td><input type="text" class="form-control" disabled value="@Model.PhysicianPayrateData.Shift" /></td>
                        <td><input type="text" class="form-control" disabled value="@Model.PhysicianPayrateData.NightShiftWeekend" /></td>
                        <td><input type="text" class="form-control" disabled value="@Model.PhysicianPayrateData.HouseCalls" /></td>
                        <td><input type="text" class="form-control" disabled value="@Model.PhysicianPayrateData.PhoneConsults" /></td>
                        <td></td>
                    </tr>
                    <hr />
                    <tr>
                        <td>Invoice Total</td>
                        <td></td>
                        <td><input type="text" class="form-control" disabled value="@shiftTotal" /></td>
                        <td><input type="text" class="form-control" disabled value="@nightShiftWeekendTotal" /></td>
                        <td><input type="text" class="form-control" disabled value="@houseCallsTotal" /></td>
                        <td><input type="text" class="form-control" disabled value="@phoneConsultsTotal" /></td>
                        <td><input type="text" class="form-control" disabled value="@grandTotal" /></td>
                    </tr>

                }
            </table>
            <div class="d-flex justify-content-end">

                <butoon type="button" class="btn btn-info" onclick="submitform()">Submit</butoon>
            </div>
        </div>
    </form>
    <button class="btn btn-info mt-2" onclick="toggleTable()">Add Receipts</button>
    <div class="bg-white reqform container p-3 mt-3" style="display:none;" id="receiptsTable">
        <table class="table ">
            <tr class="table-secondary">
                <th>Date</th>
                <th>Item</th>
                <th>Amount</th>
                <th>Bill</th>
                <th>Action</th>
            </tr>

            @for (var i = Model.startDate.Date; i <= Model.endDate.Date; i = i.AddDays(1))
            {

                var item = (Model.TimesheetRecieptData != null) ? Model.TimesheetRecieptData.FirstOrDefault(id => id.Date == i) : null;
                <form class="mainform">
                <tr>
                    <td class="Date">@i.ToString("dd/MM/yyyy")</td>
                    <td>
                        <input type="text" name="item" class="form-control " value="@(item != null && item.Item !=null ? item.Item : "")" required>

                    </td>
                    <td>
                        <input type="number" name="Amount" class="form-control " value="@(item != null && item.Amount!=null ? item.Amount : "")" required>
                    </td>
                    <td>
                            @*<div class="d-flex justify-content-between bg-light border border-secondary rounded">*@
                        <button type="button" class="col btn text-start text-secondary choosenfile" onclick="document.getElementById('@i').click()">
                                @(item != null && item.BillName != null ? item.BillName : "Select File")
                        </button>
                        <input id='@i' type="file" class="d-none form-control doc_uploder" name="Bill">
                        <button type="submit" class="btn btn-info text-white py-2" value="Upload">
                            <i class="fa fa-cloud-upload"></i>
                            <span class="dNone"> Upload </span>
                        </button>
                            @* </div>*@
                    </td>
                    <td>
                            @if (item != null)
                            {
                            <div>
                                <div class="  d-flex ">
                                    <a class="btn btn-outline-info shadow-none me-2">
                                        Edit
                                    </a>
                                    <a class="btn btn-outline-info shadow-none me-2">
                                        Delete
                                    </a>
                                    <a target="_blank" href="/Upload/Reciept/@item.BillName" class="btn btn-outline-info shadow-none">
                                        view
                                    </a>
                                </div>
                            </div>
                            }
                            else
                            {
                            <div class="  d-flex ">
                                <a class="btn btn-outline-info shadow-none save me-2">
                                    Save
                                </a>
                                <a class="btn btn-outline-info shadow-none">
                                    Cancel
                                </a>
                            </div>
                            }

                    </td>
                </tr>
                </form>
            }
        </table>
    </div>
    @if (Crredntials.Role() == "Admin")
    {
        <div class=" text-end my-2">
            <form asp-action="ApproveTimesheet" asp-controller="Invoicing" class="d-flex justify-content-end">
                <input asp-for="TimesheetId" type="hidden" />
                <div class="bg-white me-2 form-floating ">
                    <input name="Bonus" class="form-control rounded numeric-input" type="text" placeholder=Suchtext>
                    <label for="floatingInput">Bonus Amount</label>
                </div>
                <div class="bg-white me-2 form-floating  ">
                    <input name="AdminNotes" class="form-control rounded " type="text" placeholder=Suchtext>
                    <label for="floatingInput">Admin Notes </label>
                </div>
                <button type="submit" class="btn btn-info">Approve</button>
            </form>
        </div>
    }
    else
    {
        <div class="d-flex justify-content-end my-2">
            <a class="btn btn-info " asp-action="FinalizeTimesheet" asp-controller="Invoicing" asp-route-timesheetId="@Model.TimesheetId">Finalize</a>
        </div>
    }
</div>
<script>
    $(".doc_uploder ").change(function () {
        filename = this.files[0].name;
        console.log(filename);
        $("#choosenfile").text(filename);
    });
    $(".doc_uploder").change(function () {
        var filename = this.files[0].name;
        console.log(filename);
        var targetButton = $(this).closest('tr').find(".choosenfile");
        console.log("Target button: ", targetButton);
        targetButton.text(filename);
    });
    function submitform() {
        let TotalHoursList = [];
        $('input[name="TotalHours"]').each(function () {
            TotalHoursList.push($(this).val());
        });
        console.log(TotalHoursList);
        let IsWeekendList = [];
        $('input[name="IsWeekend"]').each(function () {
            IsWeekendList.push($(this).is(':checked'));
        });
        console.log(IsWeekendList);
        let NoofHousecallList = [];
        $('input[name="NoofHousecall"]').each(function () {
            NoofHousecallList.push($(this).val());
        });
        console.log(NoofHousecallList);
        let NoofPhoneConsultList = [];
        $('input[name="NoofPhoneConsult"]').each(function () {
            NoofPhoneConsultList.push($(this).val());
        });
        var sendInfo = {
            startDate: $("#startdate").val(),
            endDate: $("#endDate").val(),
            TotalHours: TotalHoursList,
            IsWeekend: IsWeekendList,
            NoofHousecall: NoofHousecallList,
            NoofPhoneConsult: NoofPhoneConsultList,
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("TimeSheetSave", "Invoicing")',
            dataType: 'json',
            data: sendInfo,
            success: function (data) {
                console.log("AJAX success");
                location.reload();
            },
            error: function (xhr, status, error) {
                console.error("Error: " + status + " - " + xhr.responseText);
            }
        });
    }
    function toggleTable() {
        $('#receiptsTable').toggle();
    }

    $('.save').click(function () {
        var row = $(this).closest('tr');
        var clonedForm = row.closest('form');
        if (!clonedForm.checkValidity()) {
            return;
        }

        var dateString = row.find('.Date').text();
        var sd = moment(dateString, "DD/MM/YYYY").startOf('day').format('YYYY-MM-DD HH:mm:ss');
        var formData = new FormData();
        console.log(dateString);
        console.log(sd);
        formData.append('TimesheetRecieptData[0].Date', sd);
        formData.append('TimesheetRecieptData[0].Item', row.find('input[name="item"]').val());
        formData.append('TimesheetRecieptData[0].Amount', parseInt(row.find('input[name="Amount"]').val(), 10));
        formData.append('TimesheetRecieptData[0].BillName', row.find('input[name="Bill"]').val());

        var fileInput = row.find('input[name="Bill"]')[0];
        var file = fileInput.files[0];
        formData.append('Bill', file);

        $.ajax({
            url: '@Url.Action("RecieptSave", "Invoicing")',
            type: 'POST',
            processData: false,
            contentType: false,
            data: formData,
            success: function (response) {
                console.log('Data sent successfully');
            },
            error: function (xhr, status, error) {
                console.error("Error: " + status + " - " + xhr.responseText);
            }
        });
    });


</script>
