@{
    Layout = "_AdminDashboardLayout";
    ViewData["Title"] = "Invoicing";
}
@using HalloDoc.Entity.Models.ViewModel;
@model TimesheetModel;

<div class="d-flex justify-content-between align-items-center container pb-1 mt-4">
    <div class="d-flex align-self-center">
        <h3>Timesheets</h3>
    </div>
    <div class=" btn d-flex justify-content-end">
        <button class="btn border border-info text-info shadow-none backButton">
            <i class="fa fa-angle-left pe-1 text-info"> </i> Back
        </button>
    </div>
</div>
<div class="bg-white reqform container p-3 ">
    <form class="d-flex justify-content-between align-items-center">
        <div class=" d-flex me-2">
            @if (Crredntials.Role() == "Admin")
            {
                <div class="form-floating me-2">
                    <select class="form-select" name="PhysicianId" required id="PhysicianId">

                        @foreach (var physician in ViewBag.Physician)
                        {
                            <option value="@physician.PhysicianId">@physician.FirstName @physician.LastName</option>
                        }
                    </select>
                    <label class="form-label">Search by Physician </label>
                </div>
            }
            <div class="form-floating">
                <select class="form-select" id="daterange" onchange="timesheetshow()">
                    @{
                        string date = @DateTime.Now.ToString("MM/yyyy");
                    }
                    
                    <option value="01/@date - 14/@date"> 01/@date - 14/@date</option>
                    <option value="15/@date - @DateTime.DaysInMonth(DateTime.Now.Year, DateTime.Now.Month)/@date"> 15/@date - @DateTime.DaysInMonth(DateTime.Now.Year, DateTime.Now.Month)/@date</option>
                </select>
                <label class="form-label">Search by Timesheet </label>
            </div>

        </div>
        @* @if(!Model.isFinalize)
        {*@
        <div>
            <button type="button" class="btn btn-outline-info" onclick="finalizetimesheet()">Finalize Timesheet</button>
        </div>
        @*}*@
    </form>
</div>
<div id="timesheet"></div>

<script>
    $(document).ready(function () {
        timesheetshow();
    });
    function timesheetshow() {
        var dateRange = $("#daterange").val();
        let dates = [];
        dates = dateRange.split(" - ");
        var startDate = dates[0];
        var endDate = dates[1];
        var physicianid = $("#PhysicianId").val();
        console.log(startDate);
        console.log(endDate);
        $.ajax({
            type: 'POST',
            url: '@Url.Action("TimeSheetData", "Invoicing")',
            data: { startDate: startDate, endDate: endDate, PhysicianId: physicianid },
            success: function (response) {
                console.log(response);
                $("#timesheet").html(response);

            },
            error: function (xhr, status, error) {
                console.error("Error: " + status + " - " + xhr.responseText);
            }
        });
    }
    function finalizetimesheet() {
        var dateRange = $("#daterange").val();
        let dates = [];
        dates = dateRange.split(" - ");
        var startDate = dates[0];
        var endDate = dates[1];
        var physicianid = $("#PhysicianId").val();
        console.log(startDate);
        console.log(endDate);
        $.ajax({
            type: 'POST',
            url: '@Url.Action("FinalizeTime", "Invoicing")',
            data: { startDate: startDate, endDate: endDate, PhysicianId: physicianid },
            success: function (response) {
                console.log(response);
                $('body').html(response);
            },
            error: function (xhr, status, error) {
                console.error("Error: " + status + " - " + xhr.responseText);
            }
        });
    }
</script>
