@{
    Layout = "_AdminDashboardLayout";
    ViewData["Title"] = "User Access";
}
@using HalloDoc.Entity.Models.ViewModel;
@using static HalloDoc.Entity.Models.Constant;
@model PaginatedViewModel<UserAccessData>;

<div class="d-flex align-items-center container pb-1 mt-4">
    <div class="d-flex align-self-center">
        <h3><b>User Access</b></h3>
    </div>
</div>
<div class="bg-white reqform container p-3">
    <div class="d-flex justify-content-between align-items-center ">
        <div class="searchPatientRegion search m-1">
            <i class="fa fa-search"></i>
            <select class="form-select" id="SelectRole" onchange="searchRole(event)" asp-items="@(new SelectList(ViewBag.AspNetRole,"Name","Name"))">
                <option value="">All</option>
            </select>
        </div>
        <div>
            <a class="btn btn-info" asp-controller="AdminTabs" asp-action="AddAdminProfile">Create Admin Account</a>
            <a class="btn btn-info" asp-controller="AdminTabs" asp-action="AddProvider">Create Provider Account</a>
        </div>
    </div>
    <table class="table table-responsive my-2">
        <thead>
            <tr class="table-secondary">
                <th>Account Type</th>
                <th>Account POC</th>
                <th>Phone</th>
                <th>Status</th>
                <th>Open Requests</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody id="rolebody">
            @foreach (var item in Model.AdminList)
            {
                <tr>
                    <td>@item.AccountType</td>
                    <td>@item.AccountPOC</td>
                    <td>@item.Phone</td>
                    <td>@Enum.GetName(typeof(state),item.Status)</td>
                    <td>@item.OpenReq</td>
                    <td class="text-center">
                        @if (item.isAdmin == true)
                        {
                            <a class="btn btn-sm  btn-outline-info" asp-action="AddAdminProfile" asp-controller="AdminTabs" asp-route-UserId="@item.Id">
                                Edit
                            </a>
                        }
                        else
                        {
                            <a class="btn btn-sm  btn-outline-info" asp-action="EditProvider" asp-controller="AdminTabs" asp-route-PhysicianId="@item.Id">
                                Edit
                            </a>
                        }
                    </td>
                </tr>

            }
        </tbody>
    </table>
    <input type="hidden" asp-for="CurrentPage" id="CurrentPage" />
    <nav aria-label="Page navigation example" class="pagenav">
        <ul class="pagination pagination-container d-flex justify-content-center" id="pagination">
            @{
                int i;

                if (Model.CurrentPage > 1)
                {
                    <li class="page-item"><a class="page-link" data-page="@(Model.CurrentPage - 1)">&lt;</a></li>
                }
                else
                {
                    <li class="page-item disabled"><a class="page-link">&lt;</a></li>
                }
                @for (i = 1; i <= Model.TotalPages; i++)
                {

                    <li class="page-item"><a data-page="@i" class="@(i == Model.CurrentPage ? "active" : "") page-link">@i</a></li>
                }
                if (Model.CurrentPage < Model.TotalPages)
                {
                    <li class="page-item"><a class="page-link" data-page="@(Model.CurrentPage + 1)">&gt;</a></li>
                }
                else
                {
                    <li class="page-item disabled"><a class="page-link">&gt;</a></li>
                }
            }
        </ul>
    </nav>
</div>
<script>
    function searchRole(event) {
        var region = $("#SelectRole").val();
        console.log(region);
        var btnid = event.target.id;
        console.log(btnid);
        if (btnid == "SelectRole") {
            $('#CurrentPage').val(1);
        }
        var page = $('#CurrentPage').val();
        $.ajax({
            type: "GET",
            url: '@Url.Action("AccessUser", "AdminTabs")',
            data: { AccountType: region , page : page},
            success: function (data) {
                console.log("AJAX success");
                var bodyContent = $(data).find('tbody').html();
                $('#rolebody').html(bodyContent);
                var page = $(data).find('.pagenav').html();
                $('#pagination').html(page);
            },
            error: function (error) {
                console.log("Error:", error);
            }
        });
    }
    $(document).on('click', '.page-link', function (event) {
        console.log("hhhh");
        var page = $(this).data('page');
        console.log(page);
        $('#CurrentPage').val(page);
        searchRole(event);

    });
</script>