@{
    Layout = "_AdminDashboardLayout";
    ViewData["Title"] = "Partners";
}
@using HalloDoc.Entity.Models.ViewModel;
@model List<Partners>;

<div class="d-flex justify-content-between align-items-center container pb-1 mt-5">
    <div class="d-flex align-self-center">
        <h3><b>Partners</b></h3>
    </div>
</div>
<div class="bg-white reqform container p-3">
    <div class="d-flex justify-content-between align-items-center ">
        <div class="searchPatientRegion search m-1">
            
            <div class="search m-1">
                <i class="fa fa-search bg-white " id="searchButton"></i>
                <input type="text" class="form-control" placeholder="Search Vendors" id="searchVendor">
            </div>
            <div class="search m-1">
                <i class="fa fa-search"></i>
                <select class="form-select mb-3" id="Profession" onchange="handleSearchVendor()" asp-items="@(new SelectList(ViewBag.Professions,"HealthProfessionalId","ProfessionName"))">
                    <option value="">All Profession</option>
                </select>
            </div>
        </div>
        <div>
            <a class="btn btn-outline-info" asp-action="PartnersAddEdit" asp-controller="AdminTabs"> + Add Business</a>
        </div>
    </div>
    <table class="table table-responsive my-2">
        <thead>
            <tr class="table-secondary">
                <th>Profession </th>
                <th>Vendor Name</th>
                <th> Email</th>
                <th>Fax Number</th>
                <th>Phone Number</th>
                <th>Business Contact</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody id="vendordata">
            @foreach (var item in Model)
            {
                <tr>
                    <td class="table-text">@item.Profession</td>
                    <td class="table-text">@item.Business</td>
                    <td class="table-text">@item.Email</td>
                    <td class="table-text">@item.FaxNumber</td>
                    <td class="table-text">@item.PhoneNumber</td>
                    <td class="table-text">@item.BusinessNumber</td>
                    <td class="table-text text-center">
                        <a class="btn btn-sm btn-outline-info mx-2" asp-action="PartnersAddEdit" asp-controller="AdminTabs" asp-route-VendorId="@item.VendorId">
                            Edit
                        </a>
                        <a class="btn btn-sm  btn-outline-info" asp-action="EditProvider" asp-controller="AdminTabs" asp-route-PhysicianId="@item.Profession">
                           Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('searchVendor').addEventListener('keyup', function (evt) {
            if (evt.key === 'Enter') {
                evt.preventDefault();
                handleSearchVendor();
            }
        });
    });
    function handleSearchVendor() {
        var searchValue = $('#searchVendor').val();
        var Profession = $("#Profession").val();
        console.log("Search value: " + searchValue);
        console.log("Profession id: " + Profession);
        $.ajax({
            type: "GET",
            url: '@Url.Action("Partners", "AdminTabs")',
            data: { searchValue: searchValue, Profession: Profession },
            success: function (data) {
                console.log("AJAX success");
                var bodyContent = $(data).find('tbody').html();
                $('#vendordata').html(bodyContent);
            },
            error: function (error) {
                console.log("Error:", error);
            }
        });
    }
</script>